#title {
    margin-bottom: 0;
}

.card {
    min-height: 5em;
}

.answer {
    display: inline;
}

.correct {
    font-weight: 900;
    background: lightgreen;
}

@media only screen and (max-width: 500px) {
    .card {
        min-height: 10em;
    }
}